body, h1, h2, h3, h4, h5, h6, p, ul, dl, ol, 
form, fieldset, input, label, table, tbody, 
tfoot, th, tr, td, textarea, select {
  font-family: "helvetica neue", helvetica, "lucinda sans unicode",
    "sans serif";
  font-weight: normal;
  color: #333;
  padding: 0;
  border: 0;
  margin: 0;
  font-size: 12px;
}

header {
  width: 100%;
  height: 80px;
  background: #d1e0d1;
  color: #333;
  font-weight: bold;
  font-size: 20px;
  text-align: center;
  line-height: 80px;
}

footer {
  width: 100%;
  height: 60px;
  background: #d1e0e1;
  font-size: 12px;
  text-align: center;
  line-height: 80px;
  margin-top: 30px;
}

table, th, td {
  border: 1px solid #888;
}

section {
  margin: 20px 0 0 20px;
}

table {
  width: 90%;
  border-collapse: collapse;
}

thead {
  line-height: 30px;
}

thead th {
  background: #53777a;
  color: #fff;
  font-size: 12px;
  font-weight: bold;
  text-align: center;
}

td {
  font-size: 11px;
  line-height: 25px;
  padding-left: 10px;
}

.even {
  background-color: #f8f8f8;
}

nav {
  margin: 15px 0 10px 0;
}

nav a {
  background: #53777a;
  color: #fff;
  width: 80px;
  text-decoration: none;
  border: 1px solid #5b5b5b;
  font-size: 13px;
  text-align: center;
  padding: 5px 10px;
}

label {
  display: block;
  padding: 8px 0;
  color: #333;
}

input {
  border-radius: 3px;
  height: 24px;
  border: 1px solid #AAA;
  padding: 0 7px;
}

input.large {
  width: 400px;
}

select {
  border: 1px solid #AAA;
  overflow: hidden;
  margin-right: 15px;
  width: 200px;
}

.required {
  color: red;
}

.not {
  display: none;
}

.rowHighlight {
  font-weight: bold;
  background: #eee;
}

label.error {
  color: red;
  font-weight: bold;
}

.overdue {
  background: #F7DCE5;
}

.warning {
  background: #F7F7DC;
}

.taskCompleted {
  text-decoration: line-through;
}